:root {
    --magenta-logo: #E6037E; /* #E6037E #FF0066 */
    --magenta: #FF00FF;
    --amarillo: #FFFF00; /* FFBB00 */
    --azul: #0000FF;
    --bg-light: #FFF0F8; /* FFF0F8 */
    --light-amarillo: #FFFFE0;
    --blanco:#FFFFFF;


    --naranja: #FF7B47;
    --rojo: #FF5C5C;
    --morado: #8838FF; /* 8838FF */
    --morado-vino: #7a1c5e;
    --magenta-oscuro: #E6037E;
    --negro: #000000;
    --swiper-theme-color: #007AFF;
}

/* BOOTSTRAP RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "colby-blk";
    src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Colby-StBlk.ttf);
}
@font-face {
    font-family: "colby";
    src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Colby-StBld.ttf);
}
@font-face {
    font-family: "colby-light";
    src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Colby-StLt.ttf);
}

/* .nav-link a{
    font-family:  dinot;
    font-size: 100px;
} */
ul li{
    line-height: 13px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--bg-light);  /* #373d48 */
    font-family: colby; /* "OakesGroteskBold" */
    font-weight: 400;
    padding: 0 0 4px 0;
    /* list-style: outside circle; */
}




.col-md-6{
    padding-right: 20px;
    padding-left: 2px;
}


/* LINEA SUB NAV */
.nav-tabs {
    border-bottom: 0px solid rgb(255, 231, 11);
}

.nav-tabs .nav-link {
    border: none;
    /* border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; */
}




/* LA CARTA CSS */
#our_menu{
     /* background-color: #ffc934; */
     background: var(--magenta-logo); background: -moz-linear-gradient(to bottom,  #e6037e 0%,#FFFFE0 100%); background: -webkit-linear-gradient(to bottom,  #e6037e 0%,#FFFFE0 100%); background: linear-gradient(to bottom,  #e6037e 0%,#FFFFE0 100%);
     /* background: #ffc037; background: -moz-linear-gradient(to bottom,  #ffc037 0%,#d5dddb 100%); background: -webkit-linear-gradient(to bottom,  #ffc037 0%,#d5dddb 100%); background: linear-gradient(to bottom,  #ffc037 0%,#d5dddb 100%); */
     /* background-color: #ffbf34; */
     /* background: #ffc934; background: -moz-linear-gradient(to bottom,  #ffc934 0%,#d5dddb 100%); background: -webkit-linear-gradient(to bottom,  #ffc934 0%,#d5dddb 100%); background: linear-gradient(to bottom,  #ffc934 0%,#d5dddb 100%); */
}
.page_title {
    padding: 30px 0px;
}
.page_title h1 {
    color: #000;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}
.page_title h1::before {
    background: green;
    width: 70px;
    height: 2px;
    position: absolute;
    content: '';
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_title h1::after {
    position: absolute;
    content: '';
    background: #fff;
    width: 30px;
    height: 2px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Menu starts*/
.menu_tab {
    margin: 0;
    justify-content: center;
}
.nav-item {
    display: inline-block;
    text-align: center;
}
.nav-tabs .nav-link{
    transition: .2s;
}
.nav-tabs .nav-link.active {
    background: #fff; /* fff */
    color:var(--magenta-logo);
    text-align: center;
    font-weight: 700;
    /* border: 1px solid #fff; */
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
}
.nav-link {
    color: #FFF;
    padding: .8em 1em  .5em 1em;
}
.nav-tabs .nav-link:hover {
    /* background-color: rgb(250, 250, 250,); */
    /* background: rgb(250, 250, 250, .5); */
    color: #fff;
    /* border: 1.5px solid #000; */
    border-radius: 25px;
}

.nav-link:hover {
    background: rgb(250, 250, 250, .5);
}
.box {
    background-color: var(--bg-light);
    overflow: hidden;
    padding: 3 3 3 3;
    /* overflow: hidden; */
    border-radius: 14px;
    margin-bottom: 1.8vh;
}

.single_menu {
    height: 100%;
    position: relative;
    margin-bottom: 75px;  /* 75px */
    transition: .3s;
    background-size: cover;
    padding: 4px;
    margin-bottom: 0px;
}
.single_menu:hover img{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}
.single_menu img {
    width: auto;   /* 33% */
    position: absolute;
    height: 110px;   /* 140px */
    /* -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s; */
    /* border: 1px solid #ddd; */
    border-radius: 10px 0 0 10px;
    background-size: cover;
}
.menu_content {
    height: 110px;
    padding-left: 120px;   /* 200px */
    padding-top: 10px;
    padding-right: 10px;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.menu_content h4 {
    font-size: 21px;
    color: var(--morado-vino); /* 111 */
    font-family: colby;  /* OakesGroteskBold */
    /* font-family: dinot; */
    font-weight: 600;
    border-bottom: .9px dashed var(--magenta-logo); /* 1px dashed #c0392b */
    line-height: 30px;
    /* text-transform: capitalize; */
}
.menu_content h4 span {
    padding-left: 4px;
    font-size: 18px;
    font-family: colby;  /* OakesGroteskBold */
    /* font-family: dinot;  */
    font-weight: 800;
    float: right;
    /* font-style: italic; */
    color: #7a1c5e; /* 222 */
}
.menu_content p {
    color: var(--magenta-oscuro);
    font-family: colby-light;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
}
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}
/*Menu ends*/
.menu_btn.btn.btn-danger {
  margin: 0 auto;
  display: block;
  width: 140px;
}
.btn.btn-danger {
  background: #ff9e35;
  border: 1px solid #ff9e35;
  transition: .2s;
  position: relative;
  z-index: 1;
  text-transform: capitalize;
  font-weight: 700;
  overflow: hidden;
  padding: 15px 25px;
}
.btn.btn-danger::before {
  position: absolute;
  content: '';
  background: #ffcc5e;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 100%;
  transition: .3s;
  z-index: -1;
}
.btn.btn-danger:hover:before{
    top: 0;
    left: 0;
}

.contenedor{
    width: 95%;
}
.nav{
    width: 100%;
}





@media (max-width: 767px) {

    .mb-4, .my-4 {
        margin-bottom: .6rem!important;
        margin-left: -8px;
    }
    .single_menu{
        height: 120px;
        margin-bottom: 20px;
    }
    .menu_content {
        height: 130px;
        padding-left: 150px;
    }
    .single_menu img{
        height: 130px;
    }
    .menu_content h4 {
        line-height: 22px;
        margin-left: -10px;
    }
    .menu_content p {
        font-weight: 600;
        margin-left: -10px;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.1px;
    }
    .menu {
        width: 100%;
        float: none;
        margin-top: 14px;
        margin-left: 5px;
    }
}



/* alergenos */
.alergenos img{
    padding: 0 .1rem;
    border-radius: 0;
    float: right;
    position: inherit;
    margin-top: -7px;
    /* background-color: aqua; */
    width: 23px;
    height: 30px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  @media (min-width: 992px) {
      .alergenos img{
          margin-top: -2px;
      }
  }
  
  /* NO SELECCIONABLE */
  h1, h2, h3, p, img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
  }