@charset "utf-8";
@font-face {
  font-family: "Open Sans Bold";
  src: url("https://www.quay.com.au/wp-content/themes/quay/fonts/OpenSans-Bold.eot?")
      format("eot"),
    url("https://www.quay.com.au/wp-content/themes/quay/fonts/OpenSans-Bold.woff")
      format("woff"),
    url("https://alibhtty.github.io/elchangarrito/assets/fonts/OpenSans-Bold.ttf")
      format("truetype"),
    url("https://www.quay.com.au/wp-content/themes/quay/fonts/OpenSans-Bold.svg#OpenSans-Bold")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OakesGroteskBold";
  src: url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskBold.eot");
  src: url("https://www.quay.com.au/wp-content/themes/quay/fonts/OakesGroteskBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskBold.woff")
      format("woff"),
    url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskBold.ttf")
      format("truetype"),
    url("https://www.quay.com.au/wp-content/themes/quay/fonts/OakesGroteskBold.svg#OakesGroteskBold")
      format("svg");
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "OakesGroteskRegular";
  src: url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskRegular.eot");
  src: url("https://www.quay.com.au/wp-content/themes/quay/fonts/OakesGroteskRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskRegular.woff")
      format("woff"),
    url("https://alibhtty.github.io/elchangarrito/assets/fonts/OakesGroteskRegular.ttf")
      format("truetype"),
    url("https://www.quay.com.au/wp-content/themes/quay/fonts/OakesGroteskRegular.svg#OakesGroteskRegular")
      format("svg");
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "colby";
  src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Colby-StBld.ttf);
}
@font-face {
  font-family: "colby-light";
  src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Colby-StLt.ttf);
}
@font-face {
  font-family: "colby-black";
  src: url(../assets/fonts/Colby-StBlk.ttf);
}


@font-face {
  font-family: "days";
  src: url(https://alibhtty.github.io/elchangarrito/assets/fonts/Days.otf);
}