<!-- header.html -->
<div class='panel home' data-section-name="home">
  <div style="height: 5.5em; width: 100%; background-color: var(--color-uno)">
    <div style="text-align: center">
      <a class="logo-icon" href="../">
        <img style="width:18rem; align-items: center; z-index: 999; padding-top: 1em; margin-left: -6em"
          src="../assets/icons/elchangarrito.png" alt="">
      </a>
    </div>
  </div>

  <header>
    <div class="row">
      <div class="col-md-4 logo-image">
        <div class="menuSeven menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
          <div class="hamburger_close">
            <img src="../assets/icons/cancel.png" alt="cancel" title="">
          </div>
          <div class="hamburger_menu_content text-right">
            <ul id="menu-main-menu" class="mobile_menu-nav-list">

              <!-- LENGUAJES -->
              <div class="languages-menu" translate="no">
                <strong>ES &nbsp </strong>
                <a style="color: #ffc1e2;" href="../qr/en/">
                  <strong class="lang-switch">EN &nbsp</strong></a>
                <a style="color: #ffc1e2;" href="../qr/ca/">
                  <strong class="lang-switch">CA</strong></a>
              </div>

              <li class="mobile_menu-nav-list-item">
                <a class="mobile_menu-nav-link menubar cta makebtn" href="../" aria-current="page">Inicio</a>
              </li>
              <li class="mobile_menu-nav-list-item">
                <a class="mobile_menu-nav-link menubar cta makebtn" href="../index.html#nosotros">Nosotros</a>
              </li>
              <li class="mobile_menu-nav-list-item">
                <a href="../restaurantes/" class="mobile_menu-nav-link menubar cta makebtn">Reservar Mesa</a>
              </li>
              <li class="mobile_menu-nav-list-item">
                <a class="mobile_menu-nav-link menubar cta makebtn" href="../reservation-policy.html">Políticas <br> de Reserva</a>
              </li>
              <li class="mobile_menu-nav-list-item img-sub-nav">
                <img class="autor" src="../assets/image/app/arte-huichol.jpg" alt="">
              </li>
              <li class="mobile_menu-nav-list-item img-sub-nav">
                <div class="autor">Desarrollado por <a class="alibhtty" href="https://ali-bhtty.web.app" target="_blank">4B</a></div>
              </li>
              <li class="mobile_menu-nav-list-item link-btn">
                <a href="https://instagram.com/changarrito.es" target="_blank" class="mobile_menu-nav-link cta makebtn">Nuestro Instagram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6" style="margin-right: 0;">
        <a class="logo" href="./">
          <img style="width:18rem; align-items: center; z-index: 1000;" src="../assets/icons/elchangarrito.png" alt="">
        </a>
      </div>

      <div class="col-md-4 pull-right col-xs-12 right-button">
        <li style="cursor: pointer;">
          <a href="../restaurantes/" class="right-side light">Reservar una mesa</a>
        </li>
      </div>
    </div>
  </header>
</div>
