@font-face {
    font-family: "swiper-icons";
    src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "bebal";
    src: url(../assets/fonts/Bebal-Bold.ttf);
    font-style: normal;
}

:root {

    --logocolor: rgb(255, 0, 179);
    --magenta: #FF00FF;
    --amarillo: #FFBB00;
    --naranja: #FF7B47;
    --rojo: #FF5C5C;
    --morado: #8838FF;
    --negro: #000000;
    --blanco: #FFFFFF;
    --swiper-theme-color: #007AFF;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* overflow: hidden; */
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate(0)
}

.swiper-pointer-events {
    touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 42vh; /* 100% */
    position: relative;
    transition-property: transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
    height: auto
}

.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px
}

.swiper-3d .swiper-wrapper, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-cube-shadow {
    transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, .15)
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-css-mode>.swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper:before {
    content: "";
    flex-shrink: 0;
    order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
    margin-inline-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-horizontal>.swiper-wrapper:before {
    height: 100%;
    width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
    margin-block-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-vertical>.swiper-wrapper:before {
    width: 100%;
    height: var(--swiper-centered-offset-after)
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: center center
}

:root {
    --travel-slider-height: 300px;
    --travel-slider-city-image-size: 120px;
    --travel-slider-vertical-padding: 64px
}

.travel-slider {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 91vh;
    margin: 0 auto
}

.travel-slider .swiper {
    height: var(--travel-slider-height);
    padding-top: var(--travel-slider-vertical-padding);
    padding-bottom: var(--travel-slider-vertical-padding)
}

.travel-slider .swiper-slide {
    top: 30vh; /* 23vh */
    width: 80%;
    max-width: 640px;
    box-sizing: border-box;
    position: relative
}

.travel-slider-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px #00000080, 0 -1px #ffffff80
}

.travel-slider-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 1.25;
    border-radius: 0 0 16px 16px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.travel-slider-title {
    font-weight: bold;
    font-size: 32px
}

.travel-slider-subtitle {
    font-size: 18px
}

.travel-slider-planet {
    box-sizing: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 100% */
}

.travel-slider-planet>img {
    display: block;
    width: auto;
    height: 128%;
    margin: 0 auto
}

.travel-slider-cities img {
    --travel-slider-planet-size: calc(var(--travel-slider-height) + var(--travel-slider-vertical-padding) * 2);
    --travel-slider-image-rotate: 0deg;
    --travel-slider-image-scale: 1;
    position: absolute;
    bottom: 96%;
    left: 51%;
    transform: translate(-50%) scale(var(--travel-slider-image-scale)) rotate(var(--travel-slider-image-rotate));
    transform-origin: center calc(var(--travel-slider-planet-size) / 2 * .80 * .90 + var(--travel-slider-city-image-size) * 1);
    height: var(--travel-slider-city-image-size);
    width: var(--travel-slider-city-image-size);
    object-position: center bottom;
    object-fit: contain
}

.travel-slider-cities-8 img:nth-child(2) {
    --travel-slider-image-rotate: 45deg
}

.travel-slider-cities-8 img:nth-child(3) {
    --travel-slider-image-rotate: 90deg
}

.travel-slider-cities-8 img:nth-child(4) {
    --travel-slider-image-rotate: 135deg
}

.travel-slider-cities-8 img:nth-child(5) {
    --travel-slider-image-rotate: 180deg
}

.travel-slider-cities-8 img:nth-child(6) {
    --travel-slider-image-rotate: 225deg
}

.travel-slider-cities-8 img:nth-child(7) {
    --travel-slider-image-rotate: 270deg
}

.travel-slider-cities-8 img:nth-child(8) {
    --travel-slider-image-rotate: 315deg
}

.travel-slider-cities-4 img:nth-child(2) {
    --travel-slider-image-rotate: 90deg
}

.travel-slider-cities-4 img:nth-child(3) {
    --travel-slider-image-rotate: 180deg
}

.travel-slider-cities-4 img:nth-child(4) {
    --travel-slider-image-rotate: 270deg
}

/* html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0
} */

/* body {
    background: #ccc;
    color: #000;
    line-height: 1.5;
    font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, "Segoe UI", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to bottom, #ffb922, #fff)
} */

#app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background: #ccc;
    color: #000;
    line-height: 1.5;
    font-family: bebal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to bottom, var(--naranja), var(--amarillo)) /* #ffb922 */
}

.travel-slider:after {
    content: "";
    position: absolute;
    height: 50vh;
    top: 50%;
    width: 100%;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0) 88%)
} /* #b0a5d1  */

