@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.color-violet .container-button {
  background: #fbc2eb; background: -moz-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); background: -webkit-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); background: linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%);
  /* background-color: #98f; */
}
.color-violet .container-button:before {
  background: #fbc2eb; background: -moz-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); background: -webkit-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); background: linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%);
  /* background-color: #98f; */
}
.color-violet .w-item span {
  /* color: #fbc2eb; color: -moz-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); color: -webkit-linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); color: linear-gradient(45deg,  #fbc2eb 0%,#a18cd1 100%); */
  /* color: #98f; */
  color: #a18cd1;
}

.color-green .container-button {
  background: #ace28d; background: -moz-linear-gradient(to right,  #ace28d 0%,#12c6c5 100%); background: -webkit-linear-gradient(to right,  #ace28d 0%,#12c6c5 100%); background: linear-gradient(to right,  #ace28d 0%,#12c6c5 100%);
  /* background-color: #1bbc9d; */
}
.color-green .container-button:before {
  background: #ace28d; background: -moz-linear-gradient(to right,  #ace28d 0%,#12c6c5 100%); background: -webkit-linear-gradient(to right,  #ace28d 0%,#12c6c5 100%); background: linear-gradient(to right,  #ace28d 0%,#12c6c5 100%);
  /* background-color: #1bbc9d; */
}
.color-green .w-item span {
  /* color: #bfffcd; color: -moz-linear-gradient(to top,  #bfffcd 0%,#93efdd 100%); color: -webkit-linear-gradient(to top,  #bfffcd 0%,#93efdd 100%); color: linear-gradient(to top,  #bfffcd 0%,#93efdd 100%); */
  /* color: #1bbc9d; */
  color: #12c6c5;
}

.color-red .container-button {
  background-color: #DB343A;
}
.color-red .container-button:before {
  background-color: #DB343A;
}
.color-red .w-item span {
  color: #DB343A;
}

.color-pink .container-button {
  background-color: #E91E63;
}
.color-pink .container-button:before {
  background-color: #E91E63;
}
.color-pink .w-item span {
  color: #E91E63;
}

.color-blue .container-button {
  background: #2cebc7; background: -moz-linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%); background: -webkit-linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%); background: linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%);
  /* background-color: #3498db; */
}
.color-blue .container-button:before {
  background: #2cebc7; background: -moz-linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%); background: -webkit-linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%); background: linear-gradient(315deg,  #2cebc7 0%,#8267d5 100%);
  /* background-color: #3498db; */
}
.color-blue .w-item span {
  color: #6a92e7;
  /* color: #3498db; */
}

body {
  /* height: 100vh; */
  /* overflow: hidden; */
  /* background-color: #D4D9ED; */
  font-family: "Roboto", sans-serif;
}

.w-table {
  display: table;
  width: 100%;
  height: 100%;
}

.w-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.w-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto 0;
  font-size: 0;
  text-align: center;
}
.w-container .w-card {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: var(--container-color); /* var(--container-color) */
  display: inline-block;
  vertical-align: top;
  width: 30rem; /* 300px */
  color: #eee;
  font-size: 30px;
  font-weight: 300;
  margin: 0 10px 30px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}
.w-container .w-card .card-header {
  overflow: hidden;
  padding: 20px 0 0;
  border-radius: 4px 4px 0 0;
}
.w-container .w-card .card-header .w-title, .w-container .w-card .card-header .w-price {
  position: relative;
  z-index: 2;
}
.w-container .w-card .card-header .w-price {
  font-size: 28px;
  font-weight: 500;
  padding: 10px 20px 20px;
}
.w-container .w-card .card-content {
  padding: .5rem 1rem;
}
.w-container .w-card .card-content .w-item {
  font-size: 18px;
  padding: .5rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.w-container .w-card .card-content .w-item:last-child {
  border-bottom: none;
}
.w-container .w-card .card-content .w-item span {
  font-weight: 500;
}
.w-container .w-card .container-button {
  position: relative;
}
.w-container .w-card .container-button .w-button {
  position: relative;
  display: block;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  z-index: 2;
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.w-container .w-card .container-button:before, .w-container .w-card .container-button:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.w-container .w-card .container-button:after {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.w-container .w-card .container-button:hover .w-button {
  padding: 0px 20px 40px;
}
.w-container .w-card .container-button:hover:before {
  top: -200px;
  left: -50px;
  width: 400px;
  height: 400px;
}
.w-container .w-card .container-button:hover:after {
  top: -200px;
  left: -50px;
  width: 400px;
  height: 400px;
}
.w-container .w-card:hover {
  z-index: 2;
  margin: -20px 0 50px;
}
.w-title {
  font: 16px/1.1 D-DIN-Medium, Arial, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.w-button {
  font: 14px/1.1 D-DIN-Medium, Arial, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.w-container .w-card:hover .w-button {
  opacity: 1;
}
.img-icon{
  font-size: 14px;
}